<footer>
  <a class="branding" aria-label="Go to home" routerLink="/">
    <img src="/assets/logo.svg" alt="Encore" class="tw-h-7" />
  </a>

  <p aria-label="contact-link" class="contact-link" id="contacts">
    <span>Contact support:</span>
    <a href="mailto:encore.dashboard@gmail.com"> encore.dashboard@gmail.com </a>
  </p>

  <p class="designed-by">
    Designed by
    <a href="https://cactusweb.io" target="_blank" rel="noopener">CactusDash</a>
  </p>

  <div class="links" aria-label="Juristic documents">
    <a routerLink="/user_agreement">User agreement</a>
    <a routerLink="/privacy">Privacy Policy</a>
    <a routerLink="/refund_dispute">Refund and dispute policy</a>
  </div>
</footer>
