footer {
  @apply tw-grid tw-justify-between md:tw-justify-center md:tw-grid-flow-row tw-gap-y-12 tw-gap-x-5 tw-items-center;
  @apply lg:tw-items-start;
  grid-template-columns: 1fr auto 1fr;
  @apply md:tw-grid-cols-1;
  @apply tw-px-20 lg:tw-px-10 md:tw-px-4;
}

.branding {
  @apply tw-grid tw-content-between tw-gap-5 md:tw-justify-items-center md:tw-justify-center;
}

// .links-container {
//   @apply tw-grid tw-grid-flow-col md:tw-grid-flow-row tw-gap-x-[200px] lg:tw-gap-x-[80px] md:tw-gap-y-12;
// }

.links {
  @apply tw-grid tw-gap-6 tw-grid-flow-col tw-justify-center;
  @apply lg:tw-grid-flow-row md:tw-grid-flow-row tw-justify-items-center;

  a {
    @apply tw-text-[#B8B8B8] hover:tw-text-white;
  }
}

a {
  @apply tw-text-base tw-font-normal tw-leading-none;
  @apply tw-underline tw-text-white hover:tw-text-primary;
  transition: 0.2s;
}

.designed-by {
  @apply tw-col-start-1 tw-col-end-4 tw-justify-self-center;
  @apply md:tw-col-start-1 md:tw-col-end-2 tw-text-[#B8B8B8];
  a {
    text-decoration: none;
  }
}

.contact-link {
  @apply tw-justify-self-end md:tw-justify-self-center md:tw-row-start-2 tw-text-[#B8B8B8];
}
