<footer>
  <div class="branding" aria-label="Branding">
    <img src="/assets/logo.svg" alt="Encore" class="branding__logo" />
    <span class="branding__copyright">encore.io © 2023</span>
  </div>

  <div class="links-container">
    <div class="links" aria-label="Juristic documents">
      <a routerLink="/user_agreement">User agreement</a>
      <a routerLink="/privacy">Privacy Policy</a>
      <a routerLink="/refund_dispute">Refund and dispute policy</a>
    </div>
    <div
      class="links links_white md:tw-row-start-1"
      aria-label="Contacts links"
    >
      <span>
        mail:
        <a href="mailto:encore.dashboard@gmail.com">
          encore.dashboard@gmail.com
        </a>
      </span>
      <!-- <span>
        discord:
        <a href="https://discord.gg/encore.io" target="_blank" rel="noopener">
          discord.gg/encore.io
        </a>
      </span> -->
    </div>
  </div>
</footer>
