<footer>
  <a class="branding" aria-label="Go to home" routerLink="/">
    <img src="/assets/logo.svg" alt="Encore" class="branding__logo" />
  </a>

  <div class="links" aria-label="Juristic documents">
    <a routerLink="/user_agreement">User agreement</a>
    <a routerLink="/privacy">Privacy Policy</a>
    <a routerLink="/refund_dispute">Refund and dispute policy</a>
  </div>

  <span aria-label="contact-link" class="contact-link" id="contacts">
    mail:
    <a href="mailto:encore.dashboard@gmail.com"> encore.dashboard@gmail.com </a>
  </span>

  <p class="designed-by">
    Designed by
    <a href="https://cactusweb.io" target="_blank" rel="noopener">CactusDash</a>
  </p>
</footer>
