/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/reset";

body {
  @apply tw-text-white;
  @apply tw-bg-secondary tw-pb-20;
}

* {
  font-family: "BertSans";
}

@font-face {
  font-family: "BertSans";
  src: url("/assets/font/bertsans-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BertSans";
  src: url("/assets/font/bertsans-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BertSans";
  src: url("/assets/font/bertsans-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.btn {
  @apply tw-h-[43px] tw-px-8 tw-rounded tw-text-lg tw-font-normal tw-flex tw-items-center tw-justify-center;
  transition: 0.2s;
}

.home-block {
  @apply tw-grid tw-gap-20 md:tw-gap-[60px];

  &__title {
    @apply tw-text-[32px] md:tw-text-[26px] tw-leading-none tw-font-bold tw-justify-self-center tw-text-white;
  }
}

::-webkit-scrollbar {
  @apply tw-w-2 tw-h-2;
  @apply md:tw-w-0 md:tw-h-0 lg:tw-w-0 lg:tw-h-0;
}

::-webkit-scrollbar-thumb {
  @apply tw-border-0 tw-bg-primary hover:tw-bg-primary-hover tw-rounded-full;
  transition: 0.2s;
}

::-webkit-scrollbar-track {
  @apply tw-border-0 tw-bg-secondary;
}
